<!DOCTYPE html>
<html>
    <head>
        <title>Site Name - {{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
    </head>
    
    <body>
        <div class="nav">
            <div class="nav-left">
                <div class="nav-button" onclick="location.href='/';"><p>Home</p></div>
            </div>
            <div class="nav-right">
                {{#if user}}
                    <div class="nav-button right" onclick="location.href='/users/logout'"><p>Logout</p></div>
                {{else}}
                    <div class="nav-button right" onclick="location.href='/users/login';"><p>Login</p></div>
                {{/if}}
            </div>
        </div>
        
        <div class="body">
            {{{body}}}
        </div>
    </body>

    <script src="{{{script}}}"></script>
</html>